@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  background-color: #fff;
  color: #333;
}

.root {
  display: flex;
  place-content: center flex-start;
  align-items: center;
  flex-flow: column nowrap;
  gap: 10px;
  height: 100vh;
  overflow: auto;
  padding: 0px;
  position: relative;
}

.container {
  display: flex;
  place-content: center flex-start;
  align-items: center;
  flex: 0 0 auto;
  flex-flow: column nowrap;
  gap: 10px;
  height: fit-content;
  max-width: 975px;
  overflow: auto;
  padding: 50px;
  position: relative;
  width: auto;
  gap: 64px;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  color: #333;
}

.header-title {
  display: flex;
  gap: 12px;
}

.header-title h1 {
  width: 100%;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: -2px;
  line-height: 1.2em;
  text-align: center;
  margin: 0;
}

.header-subtitle h2 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4em;
  color: #666;
}

.prompt-container {
  place-content: flex-end center;
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column nowrap;
  gap: 16px;
  height: min-content;
  padding: 0px;
  width: min-content;
}

.prompt-box {
  border: 1px solid #ddd;
  place-content: flex-start;
  align-items: flex-start;
  background-color: #fff;
  border-radius: 16px;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column nowrap;
  gap: 10px;
  height: 150px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  width: 610px;
  max-width: 1200px;
  will-change: transform;
  overflow: auto;
  outline: none;
  resize: none;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 0px;
  line-height: 1.6em;
  text-align: start;
  color: #666;
  text-decoration: none;
  text-transform: none;
  }
  
  textarea {
    font-family: 'Manrope', sans-serif;
  }
  
  .prompt-box:focus {
    border-color: #666;
  }
  
  .prompt-buttons {
    display: flex;
    place-content: center;
    align-items: center;
    justify-content: flex-end;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    gap: 12px;
    height: min-content;
    overflow: hidden;
    padding: 0px;
    position: relative;
    width: 100%;
  }
  
  .keyboard-button {
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    font-size: 16px;
    text-align: center;
    padding: 8px 16px;
    cursor: pointer;
    color: #666;
    text-decoration: none;
    text-transform: none;
    transition: background-color 0.2s ease-in-out;
  }
  
  .keyboard-button:hover {
    background-color: #eee;
  }
  
  @media (max-width: 975px) {
    .container {
      padding: 32px;
    }
  }
  